<div class="col-lg-12 col-md-12 clearfix">
	<h3>title</h3>
</div>
<div class="col-lg-12 col-md-12">
	<div class="col-lg-3 col-md-3">
		<div class="total-box clearfix">
			<div class="total-canvas pull-left">
				<span class="canvas-number">16</span>
				<canvas id="circle_1" width="100" height="100"></canvas>
			</div>
			<div class="total-number pull-right">
				<h5>访问人数</h5>
				<h4>57777</h4>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3">2</div>
	<div class="col-lg-3 col-md-3">3</div>
	<div class="col-lg-3 col-md-3">4</div>
</div>
<div class="col-lg-12 col-md-12">
	<div class="col-lg-6 col-md-6">饼状统计图</div>
	<div class="col-lg-6 col-md-6">地图</div>
</div>
<div class="col-lg-12 col-md-12">
	<div class="col-lg-6 col-md-6">
		<div class="col-lg-12 col-md-12">折线统计图</div>
		<div class="col-lg-12 col-md-12">数据统计</div>
	</div>
	<div class="col-lg-6 col-md-6">
		<ul class="list-unstyled">
			<li>
				<a class="item-content">
					<div class="media">
						<div class="media-left"></div>
						<div class="media-body">
							<h5 class="media-header">名字</h5>
							<p>123</p>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="col-lg-12 col-md-12">
	<div class="col-lg-6 col-md-6">记录</div>
	<div class="col-lg-6 col-md-6">日历</div>
</div>
<div class="col-lg-12 col-md-12">
	<div class="btn-group">
		<a class="btn btn-success"></a>
	</div>
</div>